{% extends 'base.html' %}
{% load static %}
{% block title %}Bookstore{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- carousel -->
        <div class="container-fluid">
            <div class="row">

                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="1000">
                        <img src="{% static 'images/banner1.png' %}" class="d-block w-100" alt="..." width="200" height="300">
                      </div>
                      <div class="carousel-item" data-bs-interval="1000">
                        <img src="{% static 'images/banner2.png' %}" class="d-block w-100" alt="..." width="200" height="300">
                      </div>
                      <div class="carousel-item" data-bs-interval="1000">
                        <img src="{% static 'images/banner3.png' %}" class="d-block w-100" alt="..." width="200" height="300">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

            </div>
        </div>

        <!-- books -->
        <div class="container mt-3">
            <div class="row">
                  {% comment %}
                    <table class="table table-bordered">
                      <thead>
                        <th>Sr.No.</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>QTY</th>
                        <th>DOP</th>
                        <th>Photo</th>
                      </thead>
                      <tbody>
                        {% for x in allbooks %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{x.title}}</td>
                          <td>{{x.author}}</td>
                          <td>{{x.category}}</td>
                          <td>{{x.price}}</td>
                          <td>{{x.qty}}</td>
                          <td>{{x.dop}}</td>
                          <td>
                            <img src='{{x.photo.url}}' alt="{{x.title}}" width="200" height="200">
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  {% endcomment %}

                  
                  {% for x in allbooks %}
                  <div class="col-md-3 mb-2">
                  <div class="card" style="width: 18rem;">
                    <img src="{{x.photo.url}}" class="card-img-top" alt="{{x.title}}" width="100" height="200">
                    <div class="card-body">
                      <h5 class="card-title">{{x.title}}</h5>
                      <p class="card-text">Author:{{x.author}}</p>
                      <p class="card-text">Category:{{x.category}}</p>
                      <p class="card-text">Price:{{x.price}}</p>

                      <a href="#" class="btn btn-primary">View More</a>
                    </div>
                  </div>
                </div>
                  {% endfor %}
                  

            </div>
        </div>
        <!-- fixed images-->

        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col">
                    <img src="{% static 'images/image3.png' %}" width="420">
                </div>
                <div class="col">
                    <img src="{% static 'images/image2.png' %}" width="420">
                </div>
                <div class="col">
                    <img src="{% static 'images/image3.png' %}" width="420">
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}